.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: var(--background-gradient);
  animation: gradientShift 15s ease infinite alternate;
  padding: var(--spacing-medium);
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  
}
.logo-image {
  height: 60px;
  width: auto;
  transition: transform var(--transition-speed) ease;

  &:hover {
    transform: scale(1.05);
  }
}

.mobile-menu-button {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: var(--spacing-small);
  transition: transform var(--transition-speed) ease;

  &:hover {
    transform: scale(1.1);
  }
}

/* Navigation List */
.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: flex;
    align-items: center;
    padding-inline: var(--spacing-medium);
  }

  a {
    position: relative;
    display: inline-block;
    font-size: 1.25rem;
    color: var(--text-light);
    text-decoration: none;
    transition: color var(--transition-speed) ease-in-out;

    &::after {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 0;
      height: 2px;
      background: var(--primary-color);
      transition: width var(--transition-speed) ease-in-out 0.2s;
    }

    &:hover {
      transform: scale(1.05);

      &::after {
        width: 100%;
        animation: shootingStar 1.5s ease-out;
      }
    }

    &.active {
      transform: scale(1.15);

      &::after {
        width: 100%;
        animation: shootingStar 1.5s ease-out;
        font-weight: bold;
      }
    }
  }
}

/* Mobile Responsive */
@media (max-width: 786px) {
  .navbar-container {
    width: 100%;
  }
  .nav-list a {
    font-size: 1rem;
  }
}

/* Animations */
@keyframes shootingStar {
  0% {
    transform: translateX(-100%);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}
