/* src/styles/components/navbar-style.scss */

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: var(--background-gradient);
  animation: gradientShift 15s ease infinite alternate;
  padding: var(--spacing-medium);

  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
  }

  .logo-image {
    height: 60px;
    width: auto;
  }

  .nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

      li {
        display: flex;
        align-items: center;
        padding-inline: var(--spacing-medium);
      }

      a {
        position: relative;
        display: inline-block;
        font-size: 1.25rem;
        color: var(--text-light);
        text-decoration: none;

        &::after {
          content: "";
          position: absolute;
          bottom: -2px;
          left: 0;
          width: 0;
          height: 2px;
          background: var(--primary-color);
        }

        &.active {
          font-weight: bold;
          
          &::after {
            width: 100%;
          }
        }
      }
  }
}

@media (max-width: 786px) {
  .navbar {
    &-container {
      width: 100%;
    }

    .nav-list a {
      font-size: 1rem;
    }
  }
}