/* app-style.css */
.App {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  min-height: 100vh;
}

.App > * {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(var(--background-rgb), 0.85);
  backdrop-filter: blur(4px);
  position: relative;
  z-index: 1;
}

.App > .content {
  width: 100%;
  display: block;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}